<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <a href="{{ path('fos_user_security_logout') }}">Logout</a> ({{ is_granted('ROLE_ADMIN') ? 'ROLE_ADMIN' : 'ROLE_USER' }})
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
